[Unit]
Description=env0 Demo App Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/env0-app
Environment=APP_ENV={{ env_name }}
Environment=PRIVATE_IP={{ ansible_default_ipv4.address }}
ExecStart=/usr/bin/python3 /opt/env0-app/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
